{
  "bracketSpacing": false,
  "singleQuote": false,
  "printWidth": 120,
  "trailingComma": "none",
  "useTabs": false,
  "tabWidth": 4,
  "arrowParens": "always",
  "semi": true,
  "endOfLine": "auto"
}